body {
  font-family: ;
  margin: 0;
  padding: 0;
}
 #navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8bd8bd;
  border-bottom: 1px solid rgb(124, 124, 124);
  padding-left: 12px;
 }
 .olh-logo {
  width: 80px;
  height: 60px;
 }
 .nav-link {
  display: flex;
 }
.nav-list {
display: flex;
}
.nav-list li {
font-size: 20px;
list-style-type: none;
}
.nav-list a {
display: flex;
text-decoration: none;
padding-right: 20px;
color: #243665;
}
.nav-list a:hover {


}
.nav-button {
display: flex;
justify-content: space-around;
}
.login-button,
.register-button {
color: #8bd8bd;
height: 30px;
background-color: #243665;
border: 1px solid #243665;
border-radius: 10px;
margin-right: 10px;
}

.section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #f5f8d850;
}

.section1-text {
  flex-basis: 53%;
}

.section-1 h1 {
  font-size: 30px;
  color:#243665;
}
.section-1 p {
  font-size: 20px;
}
.section1-text {

}

.section1-img {
  border: 1px solid #f5f8d8;
  border-radius: 10px;
  width: 300px;
  height: 210px;
  margin: 20px 20px;
}